.report-item {
  display: flex;
  padding: 16px;
  border-radius: 12px;
  margin-bottom: 12px;
  position: relative;
  cursor: pointer;

  &__content {
    flex: 1;
    margin-left: 8px;
    width: 60%;
  }

  &__status-bullet {
      width: 8px;
      height: 8px;
      margin-top: 5px;
      display: inline-block;
      background-color: #fead7f;
      border-radius: 50%;
      vertical-align: middle;
  }

  &__category-label {
    font-size: 13px;
    color: #4355b9;
    margin-bottom: 4px;
    font-weight: 700;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    color: #111;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }

  &__date {
    font-size: 13px;
    color: #777;
  }

  &__bookmark {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      width: 15px;
      transition: all 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 11px 7px;

      &--active {
        color: white;
        background-color: #4765ff;
        box-shadow: none;
      }
    }
  }

  &__icon {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);

    &--general,
    &--brain,
    &--heart {
      background-color: white;
    }

    img {
      width: 28px;
      height: 28px;
      filter: none; /* Remove previous filter that made the SVG white */
    }
  }
}
