.ls-verification-form {
  padding: 1rem;

  .ls-verification-form__message {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .ls-verification-form__email {
    display: block;
    margin-top: 0.5rem;
  }

  .ls-verification-form__input {
    margin-bottom: 1rem;
  }

  .ls-verification-form__button {
    margin-top: 1rem;
  }

  .ls-verification-form__resend {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  .ls-verification-form__success {
    background-color: rgba(45, 211, 111, 0.1);
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 1rem;
    text-align: center;
  }
} 