.ls-forgot-password-form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  &__icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__icon-circle {
    width: 8.5rem;
    height: 8.5rem;
    border-radius: 50%;
    background-color: rgba(252, 123, 244, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: 1px solid rgba(252, 123, 244, 0.2);
      box-sizing: border-box;
    }
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    color: #fc4b95;
  }

  &__title {
    font-size: 1.25rem;
    font-weight: 700;
    color: #31343f;
    margin-bottom: 1rem;
    text-align: center;
  }

  &__field {
    margin-bottom: 16px;
  }

  &__label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
  }

  &__input {
    margin-bottom: 1rem;
    width: 100%;
    
    border: 1px solid #ccc;
    border-radius: 0.75rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 0.875rem;
    --padding-bottom: 0.875rem;
    --highlight-color: var(--ion-color-primary);
    font-size: 1rem;
    height: 3.25rem;
    
    &::part(native) {
      padding: 0;
    }
  }

  &__button {
    margin-top: 2rem;
    width: 100%;
    height: 3.75rem;
    font-size: 1.125rem;
    font-weight: 600;
    --border-radius: 0.625rem;
    --box-shadow: 0 0.5rem 0.75rem rgba(67, 96, 240, 0.08);
    --background: var(--ion-color-primary);
    --color: #ffffff;
  }

  &__message {
    margin-bottom: 2.5rem;
    text-align: center;
    color: #31343f;
    max-width: 20rem;
    font-size: 0.875rem;
    line-height: 1.5;
    opacity: 0.8;
  }

  &__success {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__error {
    margin-bottom: 1rem;
    width: 100%;
  }

  &__custom-error {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.5rem;
    background-color: #f9edf0;
    padding: 1rem;
  }

  &__error-title {
    font-weight: 700;
    font-size: 0.875rem;
    color: #b01b3f;
    margin-bottom: 0.25rem;
  }

  &__error-message {
    font-size: 0.875rem;
    color: #2d2d2d;
  }

  &__back-link {
    margin-top: 2rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.875rem;
    
    ion-text {
      color: #666666;
      
      .login-text {
        color: #4360f0;
        font-weight: 600;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
} 