.ls-forgot-password-form {
  padding: 1rem;

  &__input {
    margin-bottom: 16px;
  }

  &__button {
    margin-top: 16px;
  }

  &__message {
    margin-bottom: 16px;
  }

  &__success {
    margin-bottom: 16px;
    text-align: center;
  }
} 