.ls-reset-password-form {
  padding: 1rem;

  &__input {
    margin-bottom: 16px;
  }

  &__button {
    margin-top: 16px;
  }

  &__message {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__email {
    color: var(--ion-color-dark);
  }

  &__success {
    margin-bottom: 16px;
    text-align: center;
  }
} 