.ls-reset-password-form {
  width: 100%;

  &__title {
    font-size: 1.75rem;
    font-weight: 600;
    color: #313e4c;
    text-align: center;
    margin-bottom: 0.5rem;
  }

  &__subtitle {
    font-size: 1rem;
    color: #5c6d80;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__field {
    margin-bottom: 1.25rem;
  }

  &__label {
    display: block;
    font-size: 0.875rem;
    color: #313e4c;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  &__input {
    width: 100%;
    border: 1px solid #838b94;
    border-radius: 0.75rem;
    --padding-start: 1rem;
    --padding-end: 1rem;
    --padding-top: 0.75rem;
    --padding-bottom: 0.75rem;
    --highlight-color: var(--ion-color-primary);
    font-size: 0.875rem;
    height: 3rem;
    
    &::part(native) {
      padding: 0;
    }
  }

  &__button {
    margin-top: 1.5rem;
    --border-radius: 0.75rem;
    --padding-top: 1.125rem;
    --padding-bottom: 1.125rem;
    font-weight: 600;
    --background: #435ff0;
    --background-activated: #3a56d4;
    --background-hover: #3a56d4;
    font-size: 1.125rem;
    height: 3.5rem;
    letter-spacing: 0.36px;
    box-shadow: 0 0.5rem 1rem rgba(67, 95, 240, 0.12);
    text-transform: none;
    
    &:disabled {
      --background: #d7dbec;
      --color: #abbccd;
    }
  }
  
  &__signup-login {
    margin-top: 1.75rem;
    text-align: center;
    font-size: 0.875rem;
    color: #000000;
    font-weight: 600;

    a {
      color: #435ff0;
      text-decoration: none;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__success {
    background-color: rgba(54, 166, 86, 0.08);
    border: 1px solid #36a656;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    margin: 1rem 0;
    text-align: center;
  }

  &__back-link {
    text-align: center;
    margin-top: 2rem;
    
    a {
      color: #313e4c;
      text-decoration: none;
      font-size: 0.875rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      
      ion-icon {
        margin-right: 0.25rem;
        font-size: 1rem;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
} 