.ls-verification-page {
  .ls-verification-page__container {
    max-width: 32rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ls-verification-page__form {
    width: 100%;
  }
}
