/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  /* media breakpoints */
  --ls-breakpoint-xs: 0px;
  --ls-breakpoint-sm: 576px;
  --ls-breakpoint-md: 768px;
  --ls-breakpoint-lg: 992px;
  --ls-breakpoint-xl: 1200px;

  --ion-color-primary: #0054e9;
  --ion-color-primary-rgb: 0, 84, 233;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0049c7;
  --ion-color-primary-tint: #1a64e0;

  --ion-color-danger: #ff9cb4;
  --ion-color-danger-rgb: 233, 0, 0;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #c70000;
  --ion-color-danger-tint: #e01a1a;
}
